ul.no_bullet {
    list-style-type: none;
}

li.large_text {
    font-size: 24px;
}

button.round {
    color:rgb(0, 0, 0);
    border-radius: 8px;
}

button.plus {
    background-color:rgb(173, 226, 171);
}

button.minus {
    background-color:rgb(247, 196, 196);
}

.input_area {
    width: 500px;
}

p {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 24px;
}

h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 24px;
}

input {
    border-radius: 6px;
}

b {
    color: black;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }