ul.no-bullet {
    list-style-type: none;
    padding: 0px;
    margin: auto 0px;
}

li {
    margin: 0px;
    font-size: 24px;
}

button.round {
    color:rgb(0, 0, 0);
    border-radius: 8px;
}

button.plus {
    background-color:rgb(173, 226, 171);
    margin: 0px 0px 0px 40px;
}

button.minus {
    background-color:rgb(247, 196, 196);
}

p {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 24px;
}

h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0;
}

b {
    color: black;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
}
  
td {
    text-align: center;
}

body {
    margin: 0 7%;
    padding: 2% 3%;
    border: 5px solid black;
}

img {
    display: block;
    margin: 10px auto;
}

@media (min-width: 1080px) {
    #interactive-example {
        display: flex;
    }
}

#user-inputs {
    padding: 20px;
    margin: 0 auto;
}

#sketch-holder {
    border: 5px solid rgb(200,200,200);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

input {
    margin: 5px;
    border-radius: 6px;
}

input.number {
    width: 30px;
}

input.short {
    width: 20px;
}

input.medium {
    width: 90px;
}

#axiom-input {
    display: flex;
}

#iterations-input {
    display: flex;
}

span.math {
    display: block;
    text-align: center;
    color: darkgreen;
    font-family: 'TimesNewRoman', "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 18px;
    line-height: 24px;
    text-justify: inter-word;
    font-weight: bold;
}

em {
    color: darkgreen;
}