  body {
    margin-left: 35px;
    background-image: url("main_page_background.png");
  }
  .sections {
    margin-left: 35px;
  }
  .title{
    text-align: center;
    font-size: 200%;
  }

  h1 {
   padding-bottom: 0;
  }
