
body {
    font-family: 'Inter', sans-serif;
    margin: 6px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.topname a {
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.topbar {
    display: flex;
    justify-content: flex-start;
}

.navbar a {
    background-color: rgb(73, 73, 73);
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    margin-right: 2px;
    margin-top: 2px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: grey;
}

.no-margin {
    margin: 0;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-margin {
    margin: 120px 200px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    border-radius: 50%;
    width: 240px;
}

.blurb {
    font-size: 20px;
    width: 700px;
    margin-left: 80px;
}

.green {
    color: rgb(11, 68, 16);
}

.bold {
    font-weight: bold;
}

@media (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    
    #my-name {
        font-size: 7vw;
    }

    .navbar a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
    }

    h2 {
        font-size: 4vw;
    }
}

.site-footer {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    padding-top: 30px;
  }

  #cv {
    margin: 50px 100px;
  }