html {
    font-size: 18px;
    font-weight: 400;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.no-bullet {
    list-style-type: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 860px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
    }
}

.sidebar {
    background-color: #EEEEEE;
    float: left;
    font-size: 1rem;
    padding: 20px 42px 20px 20px;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
        float: left;
        background-color: #28393B;
    }
    .horiz-line {
        width: 2rem;
        height: 0.18rem;
        background-color: white;
        margin: 0.5rem 0.4rem;
    }
}


#main-content {
    background-color: #EBFDFF;
}

.navbar {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-button {
    color: white;
    background-color: #28393B;
    flex-grow: 1;
    text-align: center;
    border-style: solid;
    border-right: white;
    padding: 10px 0;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.top-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 9vw;
}

h1 {
    font-size: 9vw;
    color: #E6632F;
    margin-bottom: 4px;
    margin-top: 4px;
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    text-shadow:0.1vw 0.1vw black;
}

h2 {
    font-weight: 300;
    font-size: 2vw;
}

h3 {
    color: #0F5D03;
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 40px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad {
    height: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 165, 165);
    margin: 12px;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 40px;
}

a {
    color: blue;
}

.vertical-list li{
   margin-bottom: 15px;
}