body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    margin-bottom: 12px;
}

h1, h2, h3 {
    color: #222;
}

h1 {
    color: rgb(106, 25, 102);
    font-size: 3em;
    text-align: center;
    margin-bottom: 0px;
}

h2 {
    font-size: 1.6em;
    text-align: center;
    font-weight: normal;
    color: #333;
    margin-top: 0px;
    margin-bottom: 35px;
}

h3 {
    font-size: 1.5em;
    margin-top: 0px;
    /* border-bottom: 2px solid #ddd; */
    border-top: 10px solid rgba(106, 25, 102, 0.4);
    color: rgb(106, 25, 102);
    padding-bottom: 0px;
    padding-top: 15px;
    margin-bottom: 0px;
}

p {
    font-size: 1.1em;
    margin: 10px 0;
    text-align: justify;
}

table {
    width: 900px;
    height: 200px;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    border: 1px solid rgb(151, 151, 151);
    text-align: center;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

div:has(img) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

img#interface-sketch {
    margin-right: 10px;
}

li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

ul {
    margin-bottom: 22px;
}