/* || GENERAL STYLES */

html {
    background-color: antiquewhite;
}

/* || UTILITIES */

.no-bullet{
    list-style-type: none;
}

.typed {
    font-family: 'Courier', 'Courier New', serif;
    font-size: 1.7vw;
}

.typed-cursor {
    font-size: 1.7vw;
}

@media (max-width: 1000px) {
    .typed {
        font-size: 4.5vw;
    }
    .typed-cursor {
        font-size: 4.5vw;
    }
}

#about-me {
    margin: 5%;
    margin-top: 12%;
    width: 70%;
}


@media (min-width: 701px) and (max-width: 1000px) {
    #about-me {
        margin: 3%;
        margin-top: 20%;
        width: 70%;
    }
}

@media (max-width: 700px) {
    #about-me {
        margin: 3%;
        margin-top: 40%;
        width: 60%;
    }
}

#class-human-code {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5%;
}

@media (max-width: 1000px) {
    #class-human-code {
        position: absolute;
        top: 20vh;
        left: 0;
        margin: 5%;
    }
}

.keyword {
    color: #479c9c;
}

.typename {
    color:indianred;
}

/* || SITEWIDE */

#nav-bar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2%;
}

#nav-bar a {
    font-family: 'Courier', 'Courier New', serif;
    color: #111;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

@media (max-width: 1000px) {
    #nav-bar a {
        font-size: 3.8vw;
    }
}

/* || HOMEPAGE */

#titles {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5%;
}

#main-title {
    background-color:#ffff73;
    font-size: 7vw;
    font-weight: 300;
    margin: 0;
}

#sub-title {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    font-weight: 300;
    margin: 0;
}

@media (max-width: 900px) {
    #main-title {
        font-size: 10vw;
    }
    #sub-title {
        font-size: 4vw;
    }
}
