
body {
    font-family: 'Inter', sans-serif;
    margin: 6px;
    font-size: 20px;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.navbar a {
    background-color: rgb(73, 73, 73);
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    margin-right: 2px;
    margin-top: 2px;
    font-size: 18px;
}

.navbar a:hover {
    background-color: grey;
}

h1 {
    font-size: 4vw;
    margin: 0;
    font-weight: normal;
}

#my-name {
    font-weight: bold;
    font-size: 5vw;
    color: rgb(11, 68, 16);
}

#main-header {
    display: flex;
    align-items: flex-start;
    justify-content:flex-start;
    flex-direction: column;
    margin: 150px 12vw;
}

#main-content {
    margin: 0 12vw;
}

h2 {
    font-size: 2vw;
    font-weight: normal;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 1.2rem;
}

#projects a {
    text-decoration: none;
    color: black;
}

.project-box {
    background-color: rgb(205, 205, 236);
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: black;
}

#redesign-box {
    background-image: url(../assets/lucky-bait-teaser.png);
}

#l-ink-box {
    background-image: url(../assets/l-ink-teaser-3.svg);
    background-position: center;
    background-size: cover;
}

#accessible-components-box {
    background-image: url(../assets/accordion-teaser.png);
    background-size: cover;
}

#personas-box {
    background-image: url(../assets/personas-teaser.png);
}

@media (max-width: 768px) {
    #projects {
        grid-template-columns: 1fr;
    }
    h2 {
        font-size: 4vw;
    }
    .project-box {
        height: 40vw;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 6vw;
    }
    #my-name {
        font-size: 7vw;
    }
    .navbar a {
        font-size: 14px;
    }
    #projects {
        font-size: 14px;
    }
}

.cool-effect {
    color: rgb(255, 255, 255);
    animation: shadowAnim 5s infinite ease-in-out;
}

@keyframes shadowAnim {
    0% {
        text-shadow: 0.3vw 0vw rgb(151, 0, 0);
    }
    20% {
        text-shadow: 0vw 0.3vw rgb(0, 151, 10);
    }
    40% {
        text-shadow: -0.3vw 0vw rgb(0, 151, 133);
    }
    65% {
        text-shadow: 0vw -0.3vw rgb(151, 0, 133);
    }
    100% {
        text-shadow: 0.3vw 0vw rgb(151, 0, 0);
    }
}

.site-footer {
    text-align: center;
    width: 100%;
    font-size: 0.9rem;
    padding-top: 30px;
  }