/* || GENERAL STYLES */

body {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
}

article {
    margin: 0 17%;
}

section {
    margin-bottom: 6%;
}

p {
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    text-justify: inter-word;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 10px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
}

h3 {
    font-size: 26px;
    font-weight: 240;
    line-height: 32px;
    margin: 0;
}

h4 {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 24px 0;
}

/* ul {
    padding: 0px;
    margin: auto 0px; this should only be for some ul's
} */

/* li {
    margin: 0px;
    font-size: 24px;
} */

div.audio-holder {
    display: flex;
    justify-content: center;
}

div.img-holder {
    display: flex;
    margin: 0;
    justify-content: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

input {
    margin: 5px;
    border-radius: 6px;
}

/* || SITEWIDE */
header {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

#main-heading, #sub-heading{
    display: flex;
    justify-content: center;
}

#main-heading h1 {
    font-size: 74px;
}

#sub-heading h2 {
    font-size: 22px;
}

#nav-bar {
    background-color: rgb(173, 226, 171);
    padding: 1% 0;
    /* margin-bottom: 4%; */
    margin: 0 12% 4% 12%;
}

#nav-bar ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

#nav-bar a {
    font-family: 'Courier', 'Courier New', serif;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* || TITLE */
#main-title {
    margin: 0 17%;
}

/* || LSYS WIDGET */
ul.no-bullet {
    list-style-type: none;
}

button.round {
    color:rgb(0, 0, 0);
    border-radius: 8px;
}

button.plus {
    background-color:rgb(173, 226, 171);
    margin: 0px 0px 0px 40px;
}

button.minus {
    background-color:rgb(247, 196, 196);
}

input.number {
    width: 50px;
}

input.short {
    width: 20px;
}

input.medium {
    width: 90px;
}

table.alphabet {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
table.alphabet td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align: center;
}
  
table.alphabet th {
    background-color: rgb(235,235,235);
}

@media (min-width: 1080px) {
    .lsystem-app {
        display: flex;
        justify-content: space-around;
    }
}

.user-inputs {
    padding: 20px;
    margin: 0 auto;
}

.display-segment {
    border: 5px solid rgb(200,200,200);
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.axiom-panel {
    display: flex;
}

.warning-message {
    font-size: 12px;
    color:red;
}

/* || CONTENT */
aside {
    background-color: rgb(178, 178, 178);
    border-radius: 8px;
    padding: 2% 4%;
}

span.math {
    display: block;
    text-align: center;
    color: darkgreen;
    font-family: 'Computer Modern', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-justify: inter-word;
    font-weight: bold;
    margin: 1% auto;
}

div.jump-to {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.math-container {
    display: flex;
}

div.math {
    color: darkgreen;
    font-family: 'Computer Modern', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-justify: inter-word;
    font-weight: bold;
    margin: auto;
}

div.algo {
    margin: 3%;
    border: 1px solid rgb(200,200,200);
    padding: 5%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-justify: inter-word;
}

em {
    color: darkgreen;
}

a:hover {
    background-color:rgb(173, 226, 171);
}

#fern-image {
    max-height: 50%;
    max-width: 50%;
}