body, html {
    height: 99%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 6px;
    color: #434343;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7vw;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar a {
    padding: 10px 16px;
    margin: 0 0 10px 10px;
    text-decoration: underline;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: rgb(111, 111, 111);
    text-decoration: underline;
}

.no-margin {
    margin: 0;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    height: 250px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
}

p {
    max-width: 700px;
    line-height: 1.4;
}

.profile-blurb {
    margin-left: 80px;
}

.green {
    color: rgb(11, 68, 16);
}

.bold {
    font-weight: bold;
}

.site-footer {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    padding-top: 30px;
}

.profile {
    display: block;
    margin-top: 50px;
}

.profile-name {
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a {
    margin: 10px 10px 0px 10px;
}

.icon:hover {
    transform: scale(1.1);
}

.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 54px;
}

.publication {
    width: 768px;
}

.conference {
    display: inline-block;
    background-color: #e0f2fe;
    color: #0369a1;
    padding: 0.25em 0.75em;
    border-radius: 9999px;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.pub-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.pub-authors {
    font-style: italic;
}

.margin-bottom {
    margin-bottom: 24px;
}

.highlight {
    background-color: yellow;
}

@media (max-width: 768px) {
    .flex-row-center {
        flex-direction: column;
    }

    .profile-blurb {
        margin: 12px;
    }

    .publication {
        width: 480px;
    }

    section.intro {
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .publication {
        width: 340px;
    }
}
