/* General Styles */

html { scroll-behavior: smooth; }

body, html {
    height: 99%;
}

#background-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

body {
    font-family: 'system-ui', 'Inter', sans-serif;
    margin: 6px;
    color: #000000;
    background-color: white;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin-top: 0;
}

p:last-child { margin-bottom: 0; }

h1 {
    color: black;
    font-weight: 800;
    font-size: 54px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1em;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    margin: 0;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 800px;
    margin-bottom: 40px;
}

a {
    color: #0eab00;
}

a:hover {
    color: rgb(111, 111, 111);
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    width: 100%;
    margin: 16px auto 0px auto;
}
.navbar a {
    padding: 8px 18px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
}

.footer {
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    padding-top: 30px;
}

.flex-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
}

@media (max-width: 815px) {
    section {
        width: 500px;
    }
    .flex-row {
        grid-template-columns: 1fr;
    }
    .navbar a {
        padding: 8px 10px;
    }
}

@media (max-width: 520px) {
    section {
        width: 330px;
    }
    h1 {
        font-size: 30px;
    }
    body {
        font-size: 14px;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* Utilities */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.highlight {
    background-color: yellow;
}

.profile-image {
    min-height: 220px;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

/* Socials */
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    text-decoration: none;
    margin: 10px 10px 0px 10px;
}
.icon:hover {
    transform: scale(1.1);
}

.navbar a.active {
    font-weight: bold;
    text-decoration: underline;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Updates */

.updates-list {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 1fr;
    border: solid rgb(157, 157, 157) 1px;
    height: 170px;
    overflow-y: scroll;
    gap: 12px;
}

@media (max-width: 520px) {
    .updates-list {
        column-gap: 6px;
    }
}

.update-date {
    font-weight: bold;
}

/* Publications */

.publication {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-bottom: solid rgb(157, 157, 157) 0.5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.pub-title {
    font-weight: 600;
    margin-bottom: 8px;
}

.pub-authors {
    font-style: italic;
}

.pub-conference {
    display: inline-block;
    text-align: right;
    padding: 0.1em 0.75em;
    border-radius: 9999px;
    font-weight: 600;
    /* min-width: 120px; */
}

.drag-handle {
    display: inline-block;
    position: relative;
    border: solid rgb(157, 157, 157) 1px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    padding: 0 4px;
    margin: 0 2px;
    cursor: grab;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

.drag-handle:hover {
    background-color: rgb(203, 203, 203);
    user-select:none;
    -webkit-user-select:none;
}

.tooltip {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    margin-bottom: 6px;
    background-color: #111;
    color: white;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    position: absolute;
    width: 70px;
    text-align: center;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #111;
}

.drag-handle:hover .tooltip {
    display: inline-block;
    translate: 0 0;
}

/* .navbar a.active::before {
    content: '[';
}

.navbar a.active::after {
    content: ']';
}

@media (min-width: 768px) {
    .navbar a::before,
    .navbar a::after {
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
        display: inline-block;
    }

    .navbar a::before {
        content: '[';
        transform: translateX(-6px);
        opacity: 0;
    }

    .navbar a::after {
        content: ']';
        transform: translateX(6px);
        opacity: 0;
    }

    .navbar a:hover::before {
        transform: translateX(0);
        opacity: 1;
    }

    .navbar a:hover::after {
        transform: translateX(0);
        opacity: 1;
    }

    .navbar a.active::before,
    .navbar a.active::after {
        transform: translateX(0);
        opacity: 1;
    }
} */